<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>
    <div class="page">
        <div id="login">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="container-wrapper">
                        <div class="container-inner">
                            <div class="logo sd-logo"></div>
                            <form id="loginForm" class="mlogin" method="post">
                                <input type="hidden" name="loginType" value="loginMsg">
                                <div class="am-list">
                                    <div class="am-list-item">
                                        <div class="am-list-control">
                                            <input type="number" class="am-input-required" style="margin: 0 0 .1rem .0rem;" required  pattern="REG_PHONE" emptyTips="请输入手机号" notMatchTips="请输入正确的手机号" name="username" placeholder="请输入手机号" value="" id="username">
                                        </div>
                                        <div class="am-list-action removeVal"><i class="am-icon-clear" style="display: none;"></i></div>
                                    </div>
                                    <div class="am-list-item" id="checkcodeWarp">
                                      <div class="am-list-control">
                                        <input type="text" class="am-input-required am-input-required-checkCode" style="margin: 0 0 .1rem .0rem;" name="msgCheckCode" placeholder="校验码" value="">
                                      </div>
                                      <div class="am-list-action am-list-action-msg removeVal"><i class="am-icon-clear" style="display: none;"></i></div>
                                      <div class="am-list-button">
                                          <input id="getCheckcode"  value="获取短信校验码">
                                      </div>
                                    </div>
                                </div>
                                <div class="checkcode-wrap">
                                    <div id="checkcode"></div>
                                </div>
                                <div class="other-link">
                                    <div class="am-field am-footer">
                                        <a href="login.html" class="f-left">账户密码登陆</a>
                                        <a href="regist.html"  class="f-right">注册</a>
                                    </div>
                                </div>
                                <div class="am-field am-fieldBottom">
                                    <a type="submit" class="am-button am-button-submit" id="btn-submit">登 录</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
