<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page">
        <%= require('html-loader!../../components/banner/banner.html')  %>
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="content-wrapper bg-grey">
                        <div class="content-inner">
                            <div>
                                <form id="actPay" action="" name="form1" method="post" style="background-color: #ffffff">
                                    <div class="pay-act">
                                        <div class="pay-act-title" id="actTitle">【新都站】旅游年票站--待到山花烂漫时</div>
                                        <p class="pay-act-time">开始时间：2018-1-7 18:36</p>
                                    </div>
                                    <div class="line"></div>
                                    <div class="news new-new">
                                        <div class="news-person" id="actPerson">报名成员</div>
                                        <div class="content-apply-line"></div>
                                        <div class="news-content">
                                            <div class="news-join">
                                                <span style="float: right; padding-right: 15px;position: absolute;right: 0;top: 15px;font-size: 16px;color: #3ed1a5;" id="edit">
                                                     添加/修改
                                                </span>
                                                <div class="order-li" id="applyUnpay">
                                                    <li>
                                                        <p class="order-username">高翔-15202860360</p>
                                                        <p class="order-ticket">
                                                            <span>活动Aehta</span>
                                                            <span>￥100</span>
                                                        </p>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="weui-cells margin">
                                        <a id="coupon" class="weui-cell weui-cell_access" href="javascript:;">
                                            <div class="weui-cell__bd">
                                                <p>优惠券</p>
                                            </div>
                                            <div class="weui-cell__ft">有用</div>
                                        </a>
                                        <a class="weui-cell weui-cell_access" href="javascript:;">
                                                <div class="weui-cell__bd">
                                                
                                                </div>
                                                <div class="weui-cell__ft">说明文字</div>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</body>

</html>