<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="page">
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="nav_fixed_wrap">
                    <ul class="nav_fixed_catgoods nav-fixed-max-width">
                        <li class="fixed_nav_item_catgoods fixed_nav_item_catgoods_first" data-type="city">
                            <span class="nav_cur_cat">同城</span>
                        </li>
                        <li class="fixed_nav_item_catgoods" data-type="hot">
                            <span class="">热门</span>
                        </li>
                        <li class="fixed_nav_item_catgoods" data-type="latest">
                            <span class="">最新</span>
                        </li>
                    </ul>
                </div>
                <div class="weui-tab__panel content-panel">
                    <div class="content-wrapper">
                        <div class="content-inner">
                            <div>
                                <ul id="act-grid">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%= require('html-loader!../../components/footer/footer.html')  %>
            </div>
        </div>
    </div>
</body>

</html>