{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52,
          "browsers": [
            ">= 1%",
            "Chrome >= 45",
            "Firefox >= 38",
            "Edge >= 12",
            "Explorer >= 10",
            "iOS >= 8",
            "Safari >= 7",
            "Android >= 4.0",
            "Opera >= 30"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage",
        "debug": true,
        "uglify": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime"
  ]
}