<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>

</head>

<body>
    <div class="page">
            <div id="index-content-v2" class="padding">
                <div class="weui-tab">
                    <div class="weui-tab__panel content-panel">
                        <div class="content-wrapper bg-yellow">
                            <div class="content-inner">
                                <div>
                                    <div class="invite-user-info-view">
                                        <div class="banner">
                                            <img src="//pinduoduoimg.yangkeduo.com/invite_user/invite_view_banner.png">
                                        </div>
                                        <div class="rule-button">规则</div>
                                        <div class="back-button back"><i class="iconfont icon-return"></i></div>
                                        <div class="invite-user-button">升级VIP 只需298元/年</div>

                                        <div class="sd-coin">
                                            你有<h2>10000渡币</h2>
                                        </div>
                                    </div>                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
</body>

</html>