.invite-user-info-view{
    background-color: #ffdb34;
    position: relative;
    padding-bottom: .2rem;
    .banner{
        width: 3.75rem;
        img{
            height: 3.53rem;
        }
    }
    .rule-button{
        width: .51rem;
    height: .22rem;
    line-height: .22rem;
    position: absolute;
    top: .125rem;
    right: .095rem;
    border-radius: .11rem;
    border: .005rem solid #39383c;
    background-color: #f40009;
    color: #fff;
    font-size: .14rem;
    text-align: center;
    }
    .back-button{
        width: .4rem;
        height: .4rem;
        position: absolute;
        top: .125rem;
        left: .095rem;
        border-radius: 50%;
        border: .005rem solid #39383c;
        background-color: #f40009;
        color: #fff;
        font-size: .14rem;
        text-align: center;
        i{
            font-size: 0.26rem;
        }
    }
    .invite-user-button{
        text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 2.88rem;
    height: .52rem;
    line-height: .52rem;
    font-size: .21rem;
    font-weight: bolder;
    background-color: #f40009;
    border: .02rem solid #39383c;
    border-radius: .26rem;
    margin-top: .01rem;
    }
}
