<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page"> 
        <div id="regist">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="container-wrapper">
                        <div class="container-inner">
                            <div class="logo sd-logo"></div>
                            <form id="registForm" class="mlogin" action="#" method="post">
                                <div class="am-list">
                                    <div class="am-list-item">
                                        <div class="am-list-control">
                                            <input type="text" class="am-input-required" required pattern="REG_PHONE" emptyTips="请输入手机号" notMatchTips="请输入正确的手机号" name="username" placeholder="请输入手机号" value="" id="username">
                                        </div>
                                        <div class="am-list-action removeVal"><i class="am-icon-clear" style="display: none;"></i></div>
                                    </div>
                                    <div class="am-list-item">
                                        <div class="am-list-control">
                                            <select class="weui-select" name="sex" style="height: 30px;line-height: 30px;">
                                                <option value="男">男</option>
                                                <option value="女">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-list-item">
                                        <div class="am-list-control">
                                            <input type="password" class="am-input-required am-input-required-password" required pattern="REG_PASSWD" emptyTips="请输入登陆密码" notMatchTips="请输入字母开头的6到16位密码" name="password" placeholder="请输入密码" value="" id="password">
                                        </div>
                                        <div class="am-list-action seePwd am-list-action-password"><i class="iconfont icon-browse_fill" style="display: none;"></i></div>
                                    </div>
                                </div>
                                <div class="checkcode-wrap">
                                    <div id="checkcode"></div>
                                </div>
                                <div class="other-link">
                                    <div class="am-field am-footer">
                                        <a href="login.html" class="f-left">登陆</a>
                                        <a id="forget" class="f-right">忘记密码</a>
                                    </div>
                                </div>
                                <div class="am-field am-fieldBottom">
                                    <a type="submit" class="am-button am-button-submit" id="btn-submit">注册</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>