@import './variable.less';
.clearfix{overflow:auto;_height:1%}
.bg-grey{background-color: @color-background!important}
.container{position: relative;width: 100%;max-width: 640px;min-height: 100%;margin: 0 auto;padding: 0 0 .49rem;overflow-x: hidden;background-color: #f4f4f4}
.container .v5-banner{padding-top: 80%;height: 0;z-index: 0;-webkit-transform-origin: top;transform-origin: top;position: relative;background-size: cover;}
.bg-layer {position: relative;height: 100%;}
.footer{width: 100%;max-width: 3.75rem!important;height: auto;position: fixed!important;bottom: 0;left: 50%!important;transform: translate3d(-50%, 0, 0);-webkit-transform: translate3d(-50%, 0, 0);background-color: #fff!important;z-index: 10000!important;}
.footer .tabbar_on i{color:@color-theme}
.footer .tabbar_on p{color:@color-theme;line-height: 1.4;}
.footer .footer-item{padding:0}
.footer .footer-item i:before{font-size: 0.27rem;}
.relative {position: relative!important}
.margin{
    margin: 0!important;
    &:before{
        content:none!important
    }
}
.block{display: block!important}
.f-s-s{font-size: @font-size-small-s!important;}
.f-s{font-size: @font-size-small!important;}
.f-m{font-size: @font-size-medium!important;}
.f-m-x{font-size: @font-size-medium-x!important;}
.f-l{font-size: @font-size-large!important;}
.f-l-x{font-size: @font-size-large-x!important;}
.text-right{
    text-align: right!important;
    input{
        text-align: right!important;
    }
}
.text-left{text-align: left!important;}
.fleft{float: left!important;}
.fright{float: right!important;}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.row>[class*=col-] {
    box-sizing: border-box;
}
.row .col-25 {
    width: 25%;
    width: -webkit-calc((100% - 15px*3)/ 4);
    width: calc((100% - 15px*3)/ 4);
}
.row .col-33 {
    width: 33.333333333333336%;
    width: -webkit-calc((100% - 15px*2)/ 3);
    width: calc((100% - 15px*2)/ 3);
}
.row .col-50 {
    width: 50%;
    width: -webkit-calc((100% - 15px*1)/ 2);
    width: calc((100% - 15px*1)/ 2);
}
.row .col-70 {
    width: 70%;
    width: -webkit-calc((100% - 15px*.4285714285714286)/ 1.4285714285714286);
    width: calc((100% - 15px*.4285714285714286)/ 1.4285714285714286);
}
.picker{ font-size:16px; }
.cover{display: none;position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: rgba(0, 0, 0, 0.58);z-index: 999;-webkit-transition-duration: .4s;transition-duration: .4s;_position: absolute !important;_height: 1000px !important;}
.dialog-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 13000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    will-change: opacity;
    contain: strict;
}
.dialog-backdrop.backdrop-in {
    visibility: visible;
    opacity: 1;
}
.alert-content {
    position: fixed;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 13500;
    opacity: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    display: none;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    display: none;
    will-change: transform,opacity;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}
.alert-show {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
.alert-default {
    background-color: white;
}
.alert-content .alert-title {
    font-size: .17rem;
    color: #151516;
    height: .56rem;
    line-height: .56rem;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.alert-content .alert-list {
    padding: 0 .1rem;
    height: auto;
    overflow-y: scroll;
}
.alert-content .alert-cancel {
    width: .29rem;
    height: .29rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    position: absolute;
    top: -.145rem;
    right: -.145rem;
    border-radius: .145rem;
    font-size: .1rem;
    color: #9c9c9c;
    background: url('../../imgs/icons/close.png') no-repeat;
    background-size: .29rem .29rem;
}
.line{width: 100%;height: 0.1rem;background-color: #f1f1f1;}
.page {
    height: 100%;
    overflow: hidden;
    .list-block{
        margin: 35px 0;
        font-size: 17px;
        ul{
            background: #fff;
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: auto;
                right: auto;
                height: 1px;
                width: 100%;
                background-color: #ffffff;
                display: block;
                z-index: 15;
                -webkit-transform-origin: 50% 0;
                transform-origin: 50% 0;
                transform: scaleY(.5);
            }
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: auto;
                top: auto;
                height: 1px;
                width: 100%;
                background-color: #ffffff;
                display: block;
                z-index: 15;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                transform: scaleY(.5);
            }
            li{
                box-sizing: border-box;
                position: relative;
            }
        }
        .item-content {
            box-sizing: border-box;
            padding-left: 15px;
            min-height: 44px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .item-media {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            -webkit-box-lines: single;
            -moz-box-lines: single;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: none;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            box-sizing: border-box;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            padding-top: 7px;
            padding-bottom: 8px;
            
        }
        .item-media+.item-inner{
            margin-left: 15px;
        }
        .item-inner {
            padding-right: 15px;
            position: relative;
            width: 100%;
            padding-top: 8px;
            padding-bottom: 7px;
            min-height: 44px;
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            overflow: hidden;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            -ms-flex-item-align: stretch;
            -webkit-align-self: stretch;
            align-self: stretch;
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: auto;
                top: auto;
                height: 1px;
                width: 100%;
                background-color: #c8c7cc;
                display: block;
                z-index: 15;
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scaleY(.5);
                transform: scaleY(.5);
            }
            .item-after{
                white-space: nowrap;
                color: #8e8e93;
                -webkit-flex-shrink: 0;
                -ms-flex: 0 0 auto;
                flex-shrink: 0;
                margin-left: auto;
                padding-left: 5px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                max-height: 28px;
            }
        }
        .item-title {
            -webkit-flex-shrink: 1;
            -ms-flex: 0 1 auto;
            flex-shrink: 1;
            min-width: 0;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
    }
    #index-content-v2 {
        padding: 0 0 .49rem;
        background-color: @color-background;
        min-height: 100%;
        height: 100%;
        
        .content-panel{
            .content-wrapper{
                overflow: hidden;
                background-color: #fff;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom:0;
                height:100%;
            }
           
        }
        .stores{
            .store-item{
                .store-content{
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    max-width: 640px;
                    height: 1.75rem;
                    padding-top: .05rem;
                    padding-bottom: .05rem;
                    font-size: 0;
                    background-color: #fff;
                    .goods-image{
                        position: relative;
                        display: inline-block;
                        float: left;
                        width: 1.65rem;
                        height: 1.65rem;
                        .image-container{
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                    .goods-detail{
                        position: relative;
                        display: inline-block;
                        float: right;
                        width: 1.95rem;
                        height: 100%;
                        padding-right: .1rem;
                        .goods-name{
                            position: relative;
                            overflow: hidden;
                            max-height: .38rem;
                            margin-top: .03rem;
                            font-size: .13rem;
                            line-height: .19rem;
                            text-overflow: clip;
                            color: #151516;
                        }
                        .goods-content{
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: .26rem;
                            margin-top: .04rem;
                            vertical-align: top;
                            .goods-sales{
                                display: inline-block;
                                float: left;
                                height: .26rem;
                                font-size: .12rem;
                                line-height: .26rem;
                                color: #9c9c9c;
                            }
                        }
                        .goods-market-price{
                            position: absolute;
                            bottom: .27rem;
                            left: 0;
                            font-size: .12rem;
                            color: #9c9c9c;     
                        }
                        .discount-price{
                            position: absolute;
                            bottom: .05rem;
                            left: 0;
                            margin: 0 .08rem 0 -.02rem;
                            font-size: .19rem;
                            color: #e02e24;
                            font-weight: 700;
                            i{
                                font-size: .18rem;
                            }
                        }
                        .goods-buy{
                            position: absolute;
                            right: .1rem;
                            bottom: .05rem;
                            width: .71rem;
                            height: .33rem;
                            font-size: .13rem;
                            line-height: .33rem;
                            text-align: center;
                            color: #fff;
                            border-radius: .03rem;
                            background-color: #e02e24;
                        }
                    }
                }
            }
        }
    }
}
.weui-cells-input{
    .weui-cell__ft{
        flex: 2;
        input{
            width:100%;
            text-align: right;
        }
    }
}
#go-top, .go-top {
    display: block;
    width: .43rem;
    height: .43rem;
    position: fixed;
    right: .18rem;
    bottom: .64rem;
    z-index: 999;
    background-image: url('../../imgs/icons/go_top.png');
    background-size: contain;
    opacity: 1;
    -webkit-transition: bottom .8s ease,opacity .6s ease;
}

.top-button-hide {
    bottom: -.64rem;
    opacity: 0;
}
.top-button-show {
    bottom: .64rem;
    opacity: 1;
}
#go-top span, .go-top span {
    position: absolute;
    bottom: .07rem;
    width: 100%;
    display: block;
    height: .12rem;
    line-height: .12rem;
    text-align: center;
    font-size: .1rem;
    color: #333;
}
.cover-inner{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}
.aler-input{
    width: 100%;
    margin-top: 0.1rem;
    
    input{
    border: 1px solid #f1f1f1;
    height: 0.4rem;
    width: 100%;
    font-size: 0.16rem;
    text-align: center;
    }
}
@import '../../common/css/variable.less';
#login{
    background-color: #fff;
    height: 100%;
}
#regist{
    background-color: #fff;
    height: 100%;
}
.logo{
    width: 0.8rem;
    height: 0.8rem;
    background: url(https://gw.alicdn.com/tfs/TB1p.BGQXXXXXbFXFXXXXXXXXXX-160-160.png) no-repeat;
    background-size: contain;
    margin: 0.47rem auto 0;
}
.am-list{
    width: 3.3rem;
    position: relative;
    margin: 0 auto;
    font-size: @font-size-medium-x;
    color: #333;
    .am-list-item {
        position: relative;
        width: 100%;
        margin: 0.3rem 0 0;
        border-bottom: 1px solid #ff5000;
        .am-input-required {
            font-size: inherit;
            width: 2.9rem;
            height: .18rem;
            margin: 0 0 .065rem .045rem;
            outline: none;
            border: 0;
            color: #333;
        }
        .am-input-required-password {
            width: 2.7rem;
        }
        .am-list-action-password {
            right: .32rem;
        }
        .am-list-action {
            position: absolute;
            width: .2rem;
            height: .2rem;
            right: .07rem;
            bottom: .15rem;
            .am-icon-clear {
                position: absolute;
                top: 0rem;
                right: 0;
                &:before {
                    font-family: iconfont!important;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\e700";
                    color: #b5b5b5;
                    font-size: 0.24rem;
                }
            }
        }
        .seePwd{
            i{
                font-size: 28px;
            }
        }
    }
}
.am-field {
    font-size: @font-size-medium;
    width: 3.3rem;
    margin: .26rem auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.am-footer {
    margin-top: .22rem;
}
.am-fieldBottom {
    margin-top: 0.35rem;
}
.am-button {
    font-size: @font-size-medium-x;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    border-radius: .6rem;
    text-align: center;
    border: 0;
}
.am-button-submit {
    background: -webkit-linear-gradient(left,#ff9000,#ff5000) no-repeat;
    color: #fff;
    box-shadow: 0 0.03rem 0.06rem #f7c7b1;
}