@import '../../common/css/variable.less';

.act-base-info{
    .act-base-list{
        padding: 0.2rem .1rem;
        .item-img{
            width: 0.6rem;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .item-txt{
            text-align: center;
            p{
                font-size: @font-size-medium;
                line-height: 0.34rem;
            }
        }
    }
    .actInfo{
        .actInfoInner{
            ul{
                li{
                    width: 50%;
                    float: left;
                    text-align: center;
                    p{
                        line-height: 0.3rem;
                        font-size: @font-size-medium-x;
                        span{
                            margin-left: 0.1rem;
                            font-weight: 600;
                            font-size: @font-size-medium;
                            color:@color-theme
                        }
                    }
                }
            }
        }
    }
}
.act-mag{

}