@import '../../common/css/variable.less';

.act-base-info{
    .act-base-list{
        padding: 0.2rem .1rem;
        .item-img{
            width: 0.6rem;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .item-txt{
            text-align: center;
            p{
                font-size: @font-size-medium;
                line-height: 0.34rem;
            }
        }
    }
    .actInfo{
        .actInfoInner{
            ul{
                li{
                    width: 50%;
                    float: left;
                    text-align: center;
                    p{
                        line-height: 0.3rem;
                        font-size: @font-size-medium-x;
                        span{
                            margin-left: 0.1rem;
                            font-weight: 600;
                            font-size: @font-size-medium;
                            color:@color-theme
                        }
                    }
                }
            }
        }
    }
    .act-mag-btn{
        ul{
            li{
                text-align: center;
                margin: .1rem 0;
                a{
                    button{
                        -moz-box-shadow: 0px 4px 6px #B3B3B3;
                        -webkit-box-shadow: 0px 4px 6px #B3B3B3;
                        box-shadow: 0px 4px 6px #e6e6e6;
                        width: 90%;
                        height: 0.45rem;
                        background-color: #fff;
                        border: none;
                        font-size: @font-size-medium;
                        
                    }
                    
                }
                &:last-child{
                    button{
                        background-color: @color-theme;
                        color:#fff;
                    }
                }
            }
        }
    }
}
.act-mag{
/********************************报名管理******************************/
.m-confirm {width:100%;height:0.34rem;background-color:#fff;text-align:center;position:relative;}
.m-confirm .m-getperson {line-height:0.34rem;}
.m-confirm .m-getperson span {}
.m-confirm .btn-group {position:absolute;right:0.5rem;top:0.5rem;border:1px solid@color-theme;padding:0.4rem;background-color:#fff;color:@color-theme;border-radius:0.4rem;text-align:center;}
.m-confirm .btn-price {}
.m-group {height: auto;background-color: #f2f2f2;padding: 0.05rem 0;}
.m-group .tit-group {width:100%;height:0.34rem;padding:0 0.1rem;position:relative;color:@color-theme}
.m-group .tit-group .txt-group {line-height:.34rem;float:left;}
.m-group .tit-group .icon-green:before {content:url("../../imgs/icons/icon-down-green.png");display:inline-block;}
.m-group .tit-group .icon-red:before {content:url("../../imgs/icons/icon-down-red.png");display:inline-block;}
.m-group .tit-group button {position:absolute;right:0.1rem;top:0.06rem;border:1px solid @color-theme;padding:0.01rem 0.06rem;background-color:rgba(255,255,255,0);color:@color-theme;border-radius:0.4rem;text-align:center;font-size:@font-size-medium;}
.m-group .tit-group .btn-batch {}
.r-group {height: auto;background-color: #f2f2f2;padding: 0.05rem 0;}
.r-group .tit-group {width:100%;height:0.34rem;padding:0 0.1rem;position:relative;color:@color-theme}
.r-group .tit-group .txt-group {line-height:.34rem;float:left;}
.r-group .tit-group .icon-green:before {content:url("../../imgs/icons/icon-down-green.png");display:inline-block;}
.r-group .tit-group .icon-red:before {content:url("../../imgs/icons/icon-down-red.png");display:inline-block;}
.r-group .tit-group button {position:absolute;right:0.1rem;top:0.06rem;border:1px solid @color-theme;padding:0.01rem 0.06rem;background-color:rgba(255,255,255,0);color:@color-theme;border-radius:0.4rem;text-align:center;font-size:@font-size-medium;}
.r-group .tit-group .btn-review {}
.f-group {height: auto;background-color: #f2f2f2;padding: 0.05rem 0;}
.f-group .tit-group {width:100%;height:0.34rem;padding:0 0.1rem;position:relative;color:@color-theme}
.f-group .tit-group .txt-group {line-height:.34rem;float:left;}
.f-group .tit-group .icon-green:before {content:url("../../imgs/icons/icon-down-green.png");display:inline-block;}
.f-group .tit-group .icon-red:before {content:url("../../imgs/icons/icon-down-red.png");display:inline-block;}
.f-group .tit-group button {position:absolute;right:0.1rem;top:0.06rem;border:1px solid @color-theme;padding:0.01rem 0.06rem;background-color:rgba(255,255,255,0);color:@color-theme;border-radius:0.4rem;text-align:center;font-size:@font-size-medium;}

.addPer{
    position: relative;
    text-align: center;
    height: 0.44rem;
    line-height: 0.44rem;
    i{
        font-size: 22px;
        color:@color-theme
    }
    span{
        font-size: @font-size-medium-x;
    }
}
.g-lists{
    .g-item{
        .g-img{
            margin-right: 0.1rem;
            img{
                width:34px;margin-right:5px;display:block
            }
        }
        .g-name{
            p{
                font-size:@font-size-medium;
            }
        }
    }
}
.moreInfo {display:block;}
.moreInfo .moreInfo-top {color: @color-dialog-background; padding: 0rem .05rem 0.05rem 0.2rem;line-height: 1.2;}
.moreInfo .moreInfo-top p {line-height:0.2rem;display: inline-block;font-size:@font-size-small}
.moreInfo .moreInfo-midd {color: @color-dialog-background; padding: 0rem .05rem 0.05rem 0.2rem;border-bottom: 1px solid #ebebeb;}
.moreInfo .moreInfo-midd span{line-height:0.2rem;display: inline-block;font-size:@font-size-small}
.moreInfo .moreInfo-dowm {height:44px;line-height:44px;padding-right:16px;border-bottom: 4px solid #f1f1f1;}
.moreInfo .moreInfo-dowm a {display:block;padding:0 15px;height:100%;float:right;font-size: @font-size-medium;color: @color-theme;}
.select-con{width: 100%;height: 3rem;padding: 0 1rem;}
.select-con .select-all{float: right;margin-top: .8rem;}
.select-con .select-all i{}
.select-con span{line-height: 3rem;}
.select-item{margin-left:1rem}
.select-item i{}
.theme-edit-tit{border-bottom: 1px solid #f1f1f1;}
.group-item{border-bottom: .3rem solid #f1f1f1;}
}
.unclass-lists,.unreview-lists,.fail-lists{
.unclass-item,.unreview-item,.fail-item{
    border-bottom: 1px solid #f2f2f2;
    .per-head{
        margin-right: 0.1rem;
        img{
            width: 40px;margin-right:5px;display:block;
        }
    }
    .per-name{
        font-size: @font-size-medium-x
    }
    .per-bbname{
        font-size: @font-size-medium;
        color:@color-dialog-background
    }
    .per-apply-cost{
        font-size: @font-size-medium;
    }
    .per-pay-way{
        font-size: @font-size-medium;
    }
}
}
