<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page">
        <%= require('html-loader!../../components/banner/banner.html')  %>
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="content-wrapper bg-grey">
                        <div class="content-inner">
                            <div>
                                <form id="actApply" action="" name="form1" method="post">
                                    <div class="main-apply">
                                        <input type="hidden" name="perType" val="0">
                                        <div class="weui-cells__title">报名人</div>
                                        <div class="weui-cells">
                                            <div class="weui-cell">
                                                <div class="weui-cell__hd"><label class="weui-label">昵称</label></div>
                                                <div class="weui-cell__bd">
                                                    <input class="weui-input text-right" name="nickname" type="text" placeholder="你的昵称">
                                                </div>
                                            </div>
                                            <div class="weui-cell">
                                                <div class="weui-cell__hd"><label class="weui-label">手机</label></div>
                                                <div class="weui-cell__bd">
                                                    <input class="weui-input text-right" name="phone" type="number" placeholder="请输入手机号">
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="btn-bb-apply">
                                        <i class="iconfont icon-add"></i>
                                        <span>帮人报名</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="btn-apply-comfirm">
                        <a href="act-pay.html" class="weui-btn weui-btn_primary">确定报名</a>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</body>

</html>