@import '../../common/css/variable.less';
#actApply{
    padding-bottom: 0.84rem;
}
.btn-apply-comfirm{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.btn-bb-apply{
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    line-height: 0.44rem;
    height: 0.44rem;
    color: @color-theme ;
    font-weight: 600;
    margin: 0.1rem 0;
    i{
        font-size: 24px;
    }
}
.delete-apply{
    border: 1px solid #808080;
    background-color: #fff;
    padding: 0.05rem 0.07rem;
    font-size:@font-size-medium;
    border-radius: 0.05rem;
}