<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page">
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="content-wrapper">
                        <div class="content-inner">
                            <div>
                                <div id="personPage"></div>
                            </div>
                        </div>
                    </div>   
                </div>
                <%= require('html-loader!../../components/footer/footer.html')  %>
            </div>

        </div>
    </div>
</body>

</html>