<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page">
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="content-wrapper bg-person">
                        <div class="content-inner">
                            <div>
                                <div id="personPage">
                                    <div class="banner-container">
                                        <div class="banner banner-opacity">
                                            <div class="banner-tit"></div>
                                            <div class="banner-right"><a href="#"><i class="iconfont icon-setup" style="font-size: 0.26rem;color:#fff"></i></a></div>
                                        </div>
                                    </div>
                                    <div class="per-info">
                                        <div class="per-head">
                                            <a href="#">
                                                <img src="<%= require('../../imgs/icons/head.jpg')%>" alt="">
                                            </a>
                                        </div>
                                        <div class="per-flag">
                                            <p>俱乐部</p>
                                        </div>
                                        <div class="per-text">
                                            <h3>山渡户外</h3>
                                            <p>用户ID:88888</p>
                                        </div>
                                    </div>
                                    <section class="Alldata">
                                        <div class="row">
                                            <!-- Each "cell" has col-[widht in percents] class -->
                                            <div class="data-item col-25">
                                                <a href="src/pages/act_manage.php">
                                                    <h3 class="high-grey">700</h3>
                                                    <p>活动</p>
                                                </a>
                                            </div>
                                            <div class="data-item col-25">
                                                <a href="src/pages/order_travel.php">
                                                    <h3 class="high-grey">100</h3>
                                                    <p>游记</p>
                                                </a>
                                            </div>
                                            <div class="data-item col-25">
                                                <a href="src/pages/order_tidbits.php" class="">
                                                    <h3 class="high-grey">200</h3>
                                                    <p>花絮</p>
                                                </a>
                                            </div>
                                            <div class="data-item col-25">
                                                <a href="src/pages/order_club.php" class="">
                                                    <h3 class="high-grey">1</h3>
                                                    <p>俱乐部</p>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="myOrder">
                                        <div class="orderTitle clearfix">
                                            <a href="#">
                                                <h3 class="high-grey">我的钱包</h3>
                                                <div class="allOrder">全部订单<i class="iconfont icon-enter"></i></div>
                                            </a>
                                        </div>
                                        <div class="orderOption">
                                            <div class="row">
                                                <div class="col-25">
                                                    <div class="orderOption-img"><img src="<%= require('../../imgs/icons/pay-df.png')%>" alt=""></div>
                                                    <p>待付款</p>
                                                </div>
                                                <div class="col-25">
                                                    <div class="orderOption-img"><img src="src/assets/img/yfk.png" alt=""></div>
                                                    <p>已付款</p>
                                                </div>
                                                <div class="col-25">
                                                    <div class="orderOption-img"><img src="src/assets/img/dp.png" alt=""></div>
                                                    <p>收款</p>
                                                </div>
                                                <div class="col-25">
                                                    <a href="#" class="">
                                                        <div class="orderOption-img"><img src="src/assets/img/tk.png" alt=""></div>
                                                        <p class="high-grey">退款</p>
                                                    </a>
                                                </div>
                                                <div class="col-25">
                                                    <a href="#">
                                                        <div class="orderOption-img"><img src="src/assets/img/tixian.png" alt=""></div>
                                                        <p class="high-grey">提现</p>
                                                    </a>
                                                </div>
                                                <div class="col-25">
                                                    <a href="#">
                                                        <div class="orderOption-img"><img src="src/assets/img/sf.png" alt=""></div>
                                                        <p class="high-grey">身份认证</p>
                                                    </a>
                                                </div>
                                                <div class="col-25">
                                                    <a href="#">
                                                        <div class="orderOption-img"><img src="src/assets/img/hb-icon.png" alt=""></div>
                                                        <p class="high-grey">发红包</p>
                                                    </a>
                                                </div>
                                                <div class="col-25">
                                                    
                                                </div>
            
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
                <%= require('html-loader!../../components/footer/footer.html')  %>
            </div>

        </div>
    </div>
</body>

</html>