<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>
    <div class="page">
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="banner-container">
                        <div class="banner banner-opacity">
                            <div class="banner-tit"></div>
                            <div class="banner-right"><a href="#"><i class="iconfont icon-setup" style="font-size: 0.26rem;color:#fff"></i></a></div>
                        </div>
                    </div>
                    <div class="content-wrapper bg-person">
                        <div class="content-inner">
                            <div>
                                <div id="personPage">

                                    <div class="per-info">
                                        <div class="per-head">
                                            <a href="per-data.html">
                                                <img src="" alt="">
                                            </a>
                                        </div>
                                        <div class="per-flag">
                                            <p>俱乐部</p>
                                        </div>
                                        <div class="per-text">
                                            <h3>山度户外</h3>
                                            <p>用户ID:88888</p>
                                        </div>
                                    </div>
                                    <section class="Alldata">
                                        <div class="row">
                                            <!-- Each "cell" has col-[widht in percents] class -->
                                            <div class="data-item col-25">
                                                <a href="act-mag.html">
                                                    <h3 class="high-grey">0</h3>
                                                    <p>活动</p>
                                                </a>
                                            </div>
                                            <div class="data-item col-25">
                                                <a href="travel-list.html">
                                                    <h3 class="high-grey">0</h3>
                                                    <p>游记</p>
                                                </a>
                                            </div>
                                            <div class="data-item col-25">
                                                <a href="my-album.html">
                                                    <h3 class="high-grey">0</h3>
                                                    <p>花絮</p>
                                                </a>
                                            </div>
                                            <div class="data-item col-25">
                                                <a href="club-my.html">
                                                    <h3 class="high-grey">0</h3>
                                                    <p>俱乐部</p>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="weui-cells margin" style="padding-top: 0.2rem">
                                        <a class="weui-cell weui-cell_access" href="orders.html?type=pend">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-df.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>待付款</p>
                                            </div>

                                        </a>
                                        <a class="weui-cell weui-cell_access" href="orders.html?type=paid">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-yf.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>已付款</p>
                                            </div>

                                        </a>
                                        <a class="weui-cell weui-cell_access" href="orders.html?type=receipt">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-sk.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>收款</p>
                                            </div>
                                        </a>
                                        <a class="weui-cell weui-cell_access" href="refund.html">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-tk.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>退款</p>
                                            </div>

                                        </a>
                                        <a id="cash" class="weui-cell weui-cell_access" href="cash.html">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-tx.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>提现</p>
                                            </div>
                                        </a>
                                        <div class="line"></div>
                                        <a class="weui-cell weui-cell_access" href="identity.html">
                                                <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-sfrz.png')%>" alt=""></div>
                                                <div class="weui-cell__bd f-m-x">
                                                    <p>身份认证</p>
                                                </div>

                                            </a>
                                            <!-- <a class="weui-cell weui-cell_access" href="javascript:;">
                                                <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-hb.png')%>" alt=""></div>
                                                <div class="weui-cell__bd f-m-x">
                                                    <p>发红包</p>
                                                </div>
                                            </a> -->
                                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                                <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/pay-jf.png')%>" alt=""></div>
                                                <div class="weui-cell__bd f-m-x">
                                                    <p>我的经验<span id="integral" class="fright">0</span></p>
                                                </div>
                                            </a>
                                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                                <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/coin.png')%>" alt=""></div>
                                                <div class="weui-cell__bd f-m-x">
                                                    <p>我的度币<span id="coin" class="fright">0</span></p>
                                                </div>
                                            </a>
                                    </section>
                                    <div class="line"></div>
                                    <section id="clubMag" class="weui-cells margin">
                                        <a class="weui-cell weui-cell_access" href="club-mag.html">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/club-mag.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>俱乐部申请</p>
                                            </div>
                                        </a>

                                    </section>
                                    <section id="memberMag" class="weui-cells margin">
                                        <a class="weui-cell weui-cell_access" href="member-mag.html">
                                            <div class="weui-cell__hd"><img class="icon-order" src="<%= require('../../imgs/icons/club-mag.png')%>" alt=""></div>
                                            <div class="weui-cell__bd f-m-x">
                                                <p>会员管理</p>
                                            </div>
                                        </a>

                                    </section>
                                    <div class="weui-cells">
                                        <div class="weui-btn-area quit">
                                            <a class="weui-btn weui-btn_default">退出登录</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= require('html-loader!../../components/footer/footer.html')  %>
            </div>

        </div>
    </div>
</body>

</html>
