<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page">
            <%= require('html-loader!../../components/banner/banner.html')  %>
        <div id="index-content-v2">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="content-wrapper bg-grey">
                        <div class="content-inner">
                            <div>
                                <form id="createClub" action="" name="form1" method="post">
                                    <div class="weui-cells weui-cells_form club-logo-upload" id="uploader">
                                        <input type="hidden" name="clubLogo" id="clubLogo" value="">
                                        <div class="weui-cell weui-cell_select weui-cell_select-after">
                                            <div class="weui-cell__hd">
                                                <label for="" class="weui-label">俱乐部logo</label>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <div class="weui-select text-right">
                                                    <div class="weui-uploader">
                                                        <div class="weui-uploader__bd">
                                                            <ul class="weui-uploader__files img-covers" id="uploaderFiles">

                                                            </ul>
                                                            <div class="weui-uploader__input-box fright">
                                                                <input id="uploaderInput" name="imgfile" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>