<div class="footer weui-tabbar">
    <a id="index" href="index.html" data-type="index" class="footer-item weui-tabbar__item tabbar_on">
        <i class="weui-tabbar__icon iconfont icon-homepage_fill"></i>
        <p class="weui-tabbar__label">首页</p>
    </a>
    <a id="activity" href="activity.html"  data-type="activity" class="footer-item weui-tabbar__item">
        <i class="weui-tabbar__icon iconfont icon-coordinates"></i>
        <p class="weui-tabbar__label">活动</p>
    </a>
    <a id="club" href="club.html"  data-type="club" class="footer-item weui-tabbar__item">
        <i class="weui-tabbar__icon iconfont icon-interactive"></i>
        <p class="weui-tabbar__label">社区</p>
    </a>
    <a id="person" href="person.html" data-type="person" class="footer-item weui-tabbar__item">
        <i class="weui-tabbar__icon iconfont icon-mine"></i>
        <p class="weui-tabbar__label">我的</p>
    </a>
</div>