<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>

</head>

<body>
    <div class="page">
        <div class="banner-container banner-fade">
            <div class="banner header-dom transparent">
                <div class="banner-icon-back">
                    <div class="back">
                        <i class='iconfont icon-return'></i>
                    </div>
                </div>
                <div class="banner-tit mui-flex main-dom" style="display: none">
                    <ul class="row header-nav">
                        <li data-index="0" class="col-33 active">活动</li>
                        <li data-index="1" class="col-33">须知</li>
                        <li data-index="2" class="col-33">详情</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="v5-banner banner"></div>
        </div>
        <div class="bg-layer"></div>
        <div class="act-list" style="top: 300px;">
            <div class="general-goods-wrapper">
                <div>
                    <section id="g-base" class="flagIndex">
                        <div class="g-price-group">
                            <span class="g-group-price">
                                <i>￥</i>
                                <span class="index_price">3888</span>
                            </span>
                            <span class="g-repeated-coupon-tag">山渡俱乐部</span>
                            <span class="g-sales">已分享<span id="index_pdcs">0</span>次</span>
                        </div>
                        <div class="g-name">
                            <span id="index_name">【山渡】锦绣江山-2018西南版</span>
                        </div>
                    </section>
                    <div id="actType" class="g-mall-service">
                        <div  class="g-service-list">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="goods-mall margin">
                        <div class="goods-mall-main">
                            <img src="" >
                            <div class="goods-mall-info">
                                <div class="goods-mall-name"></div>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="goods-mall-btn"><span>进去看看</span></div>
                        </div>
                    </div>
                    <div class="line"></div>
                    
                    <div class="weui-cells margin weui-cells-input">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>地点</p>
                            </div>
                            <div  class="weui-cell__ft"><input type="text" class="f-m" readonly name="MeetingPlace" value=""></div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>开始时间</p>
                            </div>
                            <div  class="weui-cell__ft"><input type="text" class="f-m" readonly name="startTime" value=""></div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>结束时间</p>
                            </div>
                            <div  class="weui-cell__ft"><input type="text" class="f-m" readonly name="endTime" value=""></div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>活动积分</p>
                            </div>
                            <div  class="weui-cell__ft"><input type="text" class="f-m" readonly name="actStar" value=""></div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <p>已报名</p>
                            </div>
                            <div  class="weui-cell__ft"><input type="text" class="f-m" readonly name="applyPeople" value="1233人/不限"></div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div id="goods-mall-rec-module" class="mall-recommend margin">
                        <span class="mall-recommend-title">
                          俱乐部最新活动
                        </span>
                        <div class="mall-recommend-main">
                          <ul>
                           
                          </ul>
                        </div>
                      </div>
                    <div class="line"></div>
                    <div class="goods-details margin ">
                        <p>活动须知</p>
                        <div class="goods-details-desc flagIndex">
                            <div id="notice" class="goods-details-desc-content">

                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="goods-details margin">
                        <p>活动详情</p>
                        <div class="goods-details-desc">
                                <div id="detailText" class="goods-details-desc-content"></div>
                        </div>
                        <div class="act-detail-img flagIndex">
                            
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="goods-bottom-bar">
		    <div class="goods-chat-button"><span><a href="#">客服</a></span></div>
			<div class="goods-group-btn">
                <a>
                    <span class="goods-buy-price index_price2">
                       
                    </span>
                    <span>立即参加</span>
                </a>
            </div>
		</div>
    </div>
    <%= require('html-loader!../../components/totop/go-top.html')  %>
</body>

</html>