<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>

</head>

<body>
    <div class="page">
        <%= require('html-loader!../../components/banner/banner.html')  %>
            <div id="index-content-v2">
                <div class="weui-tab">
                    <div class="weui-tab__panel content-panel">
                        <div class="content-wrapper bg-grey">
                            <div class="content-inner">
                                <div>
                                    <form id="createAct" action="" name="form1" method="post">

                                        <div class="weui-cells weui-cells_form">
                                            <div class="weui-cell">
                                                <div class="weui-cell__bd">
                                                    <input class="weui-input" name="actTitle" type="text" placeholder="输入活动主题">
                                                </div>
                                            </div>
                                            <div class="weui-cell">
                                                <div class="weui-cell__bd">
                                                    <textarea maxlength="200" name="actDetail" class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
                                                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="weui-cells__title">基本信息</div>
                                        <div class="weui-cells">
                                            <div class="weui-cell weui-cell_select weui-cell_select-after actTime">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动开始</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="weui-select text-right" data-name="startTime">
                                                        <input id="starTime" type="text" name="starTime" readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after actTime">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动结束</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="weui-select text-right" data-name="endTime">
                                                        <input id="endTime" type="text" name="endTime" readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after actAddr">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动地点</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="weui-select text-right" data-name="address">
                                                        <input id="Actaddr" type="text" name="actAddr" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="weui-cells weui-cells_form margin" id="uploader">
                                            <input type="hidden" name="hdimg" id="hdimg" value="">
                                            <div class="weui-cell weui-cell_select weui-cell_select-after actCover">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动封面</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="weui-select text-right" data-name="cover">
                                                        <div class="weui-uploader">
                                                            <div class="weui-uploader__bd">
                                                                <ul class="weui-uploader__files img-covers" id="uploaderFiles">

                                                                </ul>
                                                                <div class="weui-uploader__input-box fright uploade-cover">
                                                                    <input id="uploaderInput" name="imgfile" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="weui-cells__title">报名设置</div>
                                        <div class="weui-cells">
                                            <div id="actCost" class="weui-cell weui-cell_select weui-cell_select-after">
                                                <div class="weui-cell__hd">
                                                    <label class="weui-label">活动费用</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="weui-select text-right" data-name="actCost">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动积分</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <select class="weui-select" style="padding-left:1.6rem" name="actStar">
                                                        <option value="10">10分</option>
                                                        <option value="20">20分</option>
                                                        <option value="30">30分</option>
                                                        <option value="40">40分</option>
                                                        <option value="50">50分</option>
                                                        <option value="60">60分</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动类别</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <select class="weui-select" style="padding-left:1.6rem" name="actStar">
                                                            <option value="徒步">徒步</option>
                                                            <option value="登山">登山</option>
                                                            <option value="露营">露营</option>
                                                            <option value="跑步">跑步</option>
                                                            <option value="骑行">骑行</option>
                                                            <option value="速降">速降</option>
                                                            <option value="赛事">赛事</option>
                                                            <option value="团购">团购</option>
                                                            <option value="会务">会务</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动保险</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <select class="weui-select" style="padding-left:1.1rem" name="insurance">
                                                    <option value="1">无保险要求</option>
                                                    <option value="2">会员自行购买</option>
                                                    <option value="3">主办方统一购买</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after block" style="padding: 0.1rem;">
                                                <div class="weui-cell__hd" style="padding: 0.1rem 0;">
                                                    <label for="" class="weui-label">报名填写项</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <input type="hidden" name="actOptions" value="昵称,手机">

                                                    <ul class="apply-options row ">
                                                        <li class="apply-item col-33">
                                                            <a class="bm-item apply-active">昵称</a>
                                                        </li>
                                                        <li class="apply-item col-33">
                                                            <a class="bm-item apply-active">手机</a>
                                                        </li>
                                                        <li class="apply-item col-33">
                                                            <a class="bm-item ">性别</a>
                                                        </li>
                                                        <li class="apply-item col-33">
                                                            <a class="bm-item apply-active">真实姓名</a>
                                                        </li>
                                                        <li class="apply-item col-33">
                                                            <a class="bm-item apply-active">身份证号</a>
                                                        </li>
                                                        <li id="addItem" class="apply-item col-33">
                                                            <a class="bm-item"><i class="iconfont icon-add f-l"></i></a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="weui-cells margin">
                                            <div class="weui-cell weui-cell_select weui-cell_select-after actTime">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">报名截至</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="weui-select text-right" data-name="endApplyTime">
                                                        <input id="endApplyTime" type="text" name="endApplyTime" readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="weui-cell">
                                                <div class="weui-cell__bd">报名方式(个人/组队)</div>
                                                <div class="weui-cell__ft">
                                                    <div class="bm-way">
                                                        <input type="hidden" name="hdbmfs" id="hdbmfs" value="个人">
                                                        <div id="gr" class="bm-way-item f-m active">
                                                            个人
                                                        </div>
                                                        <div id="zd" class="bm-way-item f-m">
                                                            组队
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="bmWay" style="display: none">
                                                <div class="weui-cell">
                                                    <div class="weui-cell__hd"><label class="weui-label">队伍数量</label></div>
                                                    <div class="weui-cell__bd">
                                                        <input class="weui-input" name="groupNum" type="number" pattern="[0-9]*" placeholder="请输入队伍数量">
                                                    </div>
                                                </div>
                                                <div class="weui-cell list-block margin">
                                                    <div class="row margin ">
                                                        <div class="col-50">
                                                            <div class="peopleNum">
                                                                <span class="smaller-txt">每队人员下限</span>
                                                                <span>
                                                                <input name="zdend" pattern="[0-9]*" maxlength="6" class="high-grey" type="number" value="0" id="groupminNum" placeholder="默认不限">
                                                            </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-50">
                                                            <div class="peopleNum">
                                                                <span class="smaller-txt">每队人员上限</span>
                                                                <span>
                                                                <input name="zdtop" pattern="[0-9]*" maxlength="6" class="high-grey" type="number" value="0" id="groupmaxNum" placeholder="默认不限">
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_switch">
                                                <div class="weui-cell__bd">报名需要审核</div>
                                                <div class="weui-cell__ft">
                                                    <input class="weui-switch" name="bmsh" type="checkbox" value="否">
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_switch">
                                                <div class="weui-cell__bd">允许帮人报名</div>
                                                <div class="weui-cell__ft">
                                                    <input class="weui-switch" name="bmbr" type="checkbox" value="否">
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">活动类型</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <select class="weui-select" style="padding-left:1rem" name="insurance">
                                                    <option value="1">私人活动</option>
                                                    <option value="2">公开活动</option>
                                                    <option value="3">俱乐部内活动</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="weui-cell weui-cell_select weui-cell_select-after">
                                                <div class="weui-cell__hd">
                                                    <label for="" class="weui-label">短信提醒</label>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <select class="weui-select" style="padding-left:0.8rem" name="insurance">
                                                    <option value="1">活动开始24小时前</option>
                                                    <option value="2">活动开始12小时前</option>
                                                    <option value="3">活动开始6小时前</option>
                                                    <option value="3">活动开始3小时前</option>
                                                    <option value="3">活动开始1小时前</option>
                                                    <option value="3">不发送</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="weui-cells__title">活动发布后，创建活动聊天群项不可更改</div>
                                        <div class="weui-cells weui-cells_form">
                                            <div class="weui-cell">
                                                <div class="weui-cell__bd">
                                                    <textarea maxlength="200" class="weui-textarea" placeholder="填写报名须知" rows="3"></textarea>
                                                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="weuiAgree" class="weui-agree">
                                        <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
                                        <span class="weui-agree__text">
                                            阅读并同意<a href="javascript:void(0);">《山渡户外联盟服务协议》</a>
                                        </span>
                                    </label>
                                        <div class="weui-btn-area">
                                            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">发布</a>
                                            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">保存草稿</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= require('html-loader!../addApplyOption/addApplyOption.html')  %>
                <%= require('html-loader!../setApplyCost/setApplyCost.html')  %>
    </div>
</body>

</html>