@import '../../common/css/variable.less';

.actTime{
    font-size:@font-size-medium-x; 
}
.actAddr{
    font-size:@font-size-medium-x; 
}
.uploade-cover{
    height: 0.3rem;
    margin-top: 0.08rem;
    border-radius: 0.2rem;
    &:before{
        width: 2px;
        height: 20px;
    }
    &:after{
        width: 29.5px;
        height: 2px;
    }
}
.img-covers{
    li{
        height: 0.3rem;
        margin-top: 0.08rem;
        float: right!important;
    }
    &:before{
        width: 2px;
        height: 20px;
    }
    &:after{
        width: 29.5px;
        height: 2px;
    }
}
.apply-options{
    width: 100%;
    height: auto;
    li{
        &.apply-item{
            .bm-item{
                width: 100%;
                background-color: #f7f7f7;
                border: 1px solid #e5e5e5;
                text-align: center;
                color: #9c9c9c;
                border-radius: 0.4rem;
                height: .4rem;
                text-align: center;
                line-height: .4rem;
                margin: 0.02rem;
                display: inline-block;
                font-size: @font-size-medium
            }
            .apply-active{
                background-color: #1aad19;
                color: #fff;
            }
           
        }
       
    }
}
.bm-way{width: 0.8rem;height: 0.27rem;border: 1px solid #1aad19;border-radius: 0.5rem;display: flex;}
.bm-way .bm-way-item{flex: 1;text-align: center;color: #1aad19;line-height: .27rem;}
.bm-way .bm-way-item.active{background-color: #1aad19;color: #fff;border-radius: .2rem;}
.peopleNum{text-align: center;padding: 0.2rem 0;}
.peopleNum span{}
.peopleNum span input{text-align: center;}



