<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
        
        <div class="page">
                <div class="banner-container">
                        <div class="banner">
                            <div class="banner-icon-back banner-left" ><a href="person.html"><span></span></a></div>
                            <div class="banner-tit banner-text"></div>
                            <div class="banner-right"><a></a></div>
                        </div>
                    </div>
            <div id="index-content-v2" class="padding">
                <div class="weui-tab">
                    <div class="nav_fixed_wrap relative">
                        <ul class="nav_fixed_catgoods nav-fixed-max-width">
                            <li class="fixed_nav_item_catgoods fixed_nav_item_catgoods_first" data-type="paid">
                                <span class="nav_cur_cat">已付款</span>
                            </li>
                            <li class="fixed_nav_item_catgoods" data-type="receipt">
                                <span class="">收款</span>
                            </li>
                            <li class="fixed_nav_item_catgoods" data-type="pend">
                                <span class="">待付</span>
                            </li>
                        </ul>
                    </div>
                    <div class="weui-tab__panel content-panel">
                        <div class="bubble-wrapper bg-grey">
                            <div class="content-inner">
                                <div>
                                    <ul id="order-grid" style="margin-top: 0.44rem;">
                                            
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>