<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
   
</head>

<body>
    <div class="page">
        <div id="index-content-v2" class="padding">
            <div class="weui-tab">
                <div class="weui-tab__panel content-panel">
                    <div class="banner-container">
                        <div class="banner banner-opacity">
                            <div class="banner-icon-back-white banner-left back"><a><span></span></a></div>
                            <div class="banner-tit">我的俱乐部</div>
                        </div>
                    </div>
                    <div class="content-wrapper bg-club" style="background-color: #4a6377;">
                        <div class="content-inner">
                            <div>
                                <div id="my-club">
                                    <div class="per-info">
                                        <div class="per-head">
                                            <a href="per-data.html">
                                                <img src="" alt="">
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <section class="club-lists">
                                        <ul>
                                         
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>

        </div>
    </div>
</body>

</html>