<!DOCTYPE html>
<html>

  <head>
    <%=require( 'html-loader!../../components/meta/meta.html') %>
      <title>
        <%=htmlWebpackPlugin.options.title %>
      </title>
  </head>

  <body>
    <div class="page article">
      <%=require( 'html-loader!../../components/banner/banner.html') %>
        <div id="index-content-v2">
          <div class="weui-tab">
            <div class="weui-tab__panel content-panel">
              <div class="content-wrapper">
                <div class="content-inner">
                  <div>
                    <div class="page__bd">
                      <div class="bg-title">
                        <img src="<%= require('../../imgs/bg/join.jpg')%>" alt="">
                        <h1 class="notice-tit">
                          加入我们
                        </h1>
                      </div>
                      <article class="weui-article" style="padding: 0.2rem 0.1rem;">
                        <!-- <h2 class="title">会员加入</h2> -->
                        <section>
                          <div class="mod-feeinclude">
                            <div class="w-title">
                              <div class="wt-title">
                                会员加入
                              </div>
                            </div>
                            <div class="cnt">
                              <div class="content">
                                <div class="item-wrap ">
                                  <div class="item ">
                                    <div class="item-cnt">
                                      <p class="item-content weex-el weex-text">
                                        山度CLUB携手康佳、格兰仕、贵州茅台、TCL、德沃士、五粮液、苏泊尔等诸多国内一线品牌，共同打造礼品商城。为推动和鼓励全社会人士参与全民健身运动。
                                        山度VIP会员可参与活动获得相对应兑换劵，在礼品商城任意兑换礼品。VIP会员鼓励身边朋友参与活动将获得兑换劵叠加奖励。 对支持全民健身运动的商家及企业，山度CLUB为其提供推广渠道，刚需产品可以上架本部礼品商城。
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="line">
                          </div>
                          <div class="weui-panel weui-panel_access">
                            <div class="w-title" id="prod">
                              <div class="wt-title">
                                VIP组合
                              </div>
                            </div>
                            <div class="weui-panel__bd">
                              <div class="weui-media-box weui-media-box_text ">
                                <h4 class="weui-media-box__title" style="font-weight: 600;color: #ffc900">
                                  VIP 1: 298元（全价）
                                </h4>
                                <p class="weui-media-box__desc item-content weex-el weex-text" style="background-color: #f1f1f1;padding: 0.1rem;">
                                  获得：1年会员权限获得：300礼品券+300购物券首充送好礼：一重好礼：价值385元美国/nerf三层电热饭盒
                                </p>
                              </div>
                              <div class="weui-media-box weui-media-box_text">
                                <h4 class="weui-media-box__title" style="font-weight: 600;color: #ffc900">
                                  VIP 3 ：798元(9折)
                                </h4>
                                <p class="weui-media-box__desc item-content weex-el weex-text" style="background-color: #f1f1f1;padding: 0.1rem;">
                                  获得：3年会员权限 获得：900礼品券+900购物卷首充送好礼： 一重好礼：价值385元美国/nerf三层电热饭盒 二重好礼：价值798元德沃士便携榨汁杯
                                </p>
                              </div>
                              <div class="weui-media-box weui-media-box_text">
                                <h4 class="weui-media-box__title" style="font-weight: 600;color: #ffc900">
                                  VIP 5: 1298元
                                </h4>
                                <p class="weui-media-box__desc item-content weex-el weex-text" style="background-color: #f1f1f1;padding: 0.1rem;">
                                  获得：5年会员权限 获得：1500礼品券+1500购物卷 首充送好礼： 一重好礼：价值385元美国/nerf三层电热饭盒 二重好礼：价值798元德沃士便携榨汁杯
                                  三重好礼：价值价值1980元德沃士不锈钢高压锅（20cm）
                                </p>
                              </div>
                              <div class="weui-media-box weui-media-box_text">
                                <h4 class="weui-media-box__title" style="font-weight: 600;color: #ffc900">
                                  VIP 10: 2598元
                                </h4>
                                <p class="weui-media-box__desc item-content weex-el weex-text" style="background-color: #f1f1f1;padding: 0.1rem;">
                                  获得：10年会员权限 获得：3000礼品券+3000购物卷 一重好礼：价值385元美国/nerf三层电热饭盒 二重好礼：价值798元德沃士便携榨汁杯
                                  三重好礼：价值1980元德沃士不锈钢高压锅（20cm） 四重好礼：价值3290元苏泊尔破壁机
                                </p>
                              </div>
                              <div class="mod-feeinclude">
                                <div class="w-title">
                                  <div class="wt-title">
                                    加入联系
                                  </div>
                                </div>
                                <div class="cnt">
                                  <div class="content">
                                    <div class="item-wrap ">
                                      <div class="item ">
                                        <div class="item-cnt">
                                          <p>
                                            户外ID：病毒
                                          </p>
                                          <p>
                                            联系电话：13880755149（微信同步）
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="weui-btn-area btn-vip">
                              <a class="weui-btn" href="javascript:" id="vip">
                                点击查看VIP会员权限
                              </a>
                            </div>
                          </div>
                        </section>
                        <!-- <section>
                          <div class="mod-feeinclude">
                            <div class="w-title">
                              <div class="wt-title">
                                领队加入
                              </div>
                            </div>
                            <div class="cnt">
                              <div class="content">
                                <div class="item-wrap ">
                                  <div class="item ">
                                    <div class="item-cnt">
                                      <p class="item-content weex-el weex-text">
                                        山度CLUB对领队的选择近乎于苛刻。你的户外能力与经验不是我们选择的唯一条件，我们在乎更多的是你的人品与情商。真实填写《领队加入》资料，是有助于我们更加全面的了解你，评估你的才能。
                                        户外活动与旅游不太一样，由于户外活动的特殊性，其山度CLUB的领队都需从基础升级而至。以下是我们对各级领队的基本阐述：
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖安全员〗：准领队
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、活动中的安全劝导员，正能量散发者，由活动参与者晋升而至。
                            </br>
                            2、在会员中产生，有正能量/有领队能力/有特殊技能的人。
                            </br>
                            3、有一定风险预估意识。
                            </br>
                          </p>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖协作领队〗：实习领队
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、由担任一定期限的协作领队晋升而至。
                            </br>
                            2、相对认同本部户外理念，拥有本部认证。
                            </br>
                            3、有一定团队意思和大局观念。
                            </br>
                            4、能短时间独立带队不低于10人。
                          </p>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖一星领队〗：领队
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、由一定能力的协作领队晋升而至。
                            </br>
                            2、绝对认同本部户外理念，拥有本部认证。
                            </br>
                            3、参与过本公司认可的相关户外学习。
                            </br>
                            4、能协助二星领队管理执行行程，能短时间独立带队不低于30人
                          </p>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖二星领队〗：领队（属头狼）
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、由一定能力的一星领队晋升而至。
                            </br>
                            2、有一定临场应变能力及风险决断能力，拥有本部认证。
                            </br>
                            3、拥有户外旅游相关市级以上认可证书（比如：《户外初级指导员》、《导游证》等）。
                            </br>
                            4、协助三星领队开展活动或能独立策划和执行某个项目
                          </p>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖三星领队〗：领队（属策划）
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、由优秀的二星领队晋升而至。
                            </br>
                            2、有户外旅游相关省级以上认可证书（比如：《户外中级指导员》、《导游证》、《领队证》等）。
                            </br>
                            3、拥有能力复制和团建能力。
                            </br>
                            4、独立策划和推进某项目的发展或推进多项目发展达到公司预期标准
                          </p>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖四星领队〗：领队（属讲师）
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、由优秀的三星领队晋升而至。
                            </br>
                            2、有户外旅游相关国家级认可证书（比如：《户外高级指导员》、《登山教练证》、《高山向导证》、等）。
                            </br>
                            3、有强大的领导能力和培训领队的能力。
                            </br>
                            4、曾接受过相关管理机构培训，能独立负责某市级以上的户外活动策划、执行、市场拓展以达到本公司基本标准
                          </p>
                          <div class="journey-title weex-ct weex-div">
                            <div class="journey-title-icon weex-ct weex-div">
                            </div>
                            <p class="journey-title-text weex-el weex-text margin">
                              〖五星领队〗：领队（属大神）
                            </p>
                          </div>
                          <p class="item-content weex-el weex-text">
                            1、由优秀的四星领队晋升而至。
                            </br>
                            2、有户外旅游相关国家级以上认可证书（比如：《户外高级指导员》、《登山教练员证》、《高山向导证》、《户外师资证》、《领队证》等）
                            </br>
                            3、有强大的领导能力和培训领队的能力。
                            </br>
                            4、曾接受过相关管理机构培训，能独立负责某省级以上的户外俱乐部的市场拓展以达到本公司基本标准
                          </p>
                        </section> -->
                        <!-- <section>
                          <div class="mod-feeinclude">
                            <div class="w-title">
                              <div class="wt-title">
                                团队加盟
                              </div>
                            </div>
                            <div class="cnt">
                              <div class="content">
                                <div class="item-wrap ">
                                  <div class="item ">
                                    <div class="item-cnt">
                                      <p class="item-content weex-el weex-text">
                                        “山度”实际属于品牌。并非一家俱乐部，而是多家俱乐部的统称（前缀）。我们以为区/县为为单位进行划分，将会“山度”品牌与加盟俱乐部共同分享，共享共赢。各加盟独家经营该区域户外社群活动。“CLUB”亦并非全指户外旅游行业，而是搭建数个有共同爱好的社群团体平台。我们真诚邀请您和您的团体加盟，携手共进，资源共享。
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="weui-media-box weui-media-box_text ">
                            <h5 class="weui-media-box__title" style="font-weight: 600;">
                              成功加盟
                            </h5>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】新都站
                              </p>
                            </div>
                            <p>
                              领队：友大大、占花儿、冰河世纪（照片）
                            </p>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】青白江站
                              </p>
                            </div>
                            <p>
                              领队：小蜜蜂、宝美、紫水晶（照片）
                            </p>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】都江堰站（照片）
                              </p>
                            </div>
                            <p>
                              领队：莉姐、外星人、飘扬
                            </p>
                          </div>
                          <div class="weui-media-box weui-media-box_text ">
                            <h5 class="weui-media-box__title" style="font-weight: 600;">
                              洽谈加盟
                            </h5>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】郫都站
                              </p>
                            </div>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】金牛站
                              </p>
                            </div>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】锦江站
                              </p>
                            </div>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】双流站
                              </p>
                            </div>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】德阳站
                              </p>
                            </div>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】绵阳站
                              </p>
                            </div>
                            <div class="journey-title weex-ct weex-div">
                              <div class="journey-title-icon weex-ct weex-div">
                              </div>
                              <p class="journey-title-text weex-el weex-text margin">
                                【山度CLUB】遂宁站
                              </p>
                            </div>
                          </div>
                          <div class="mod-feeinclude">
                            <div class="w-title">
                              <div class="wt-title">
                                加入联系
                              </div>
                            </div>
                            <div class="cnt">
                              <div class="content">
                                <div class="item-wrap ">
                                  <div class="item ">
                                    <div class="item-cnt">
                                      <p>
                                        户外ID：太子
                                      </p>
                                      <p>
                                        联系电话：13688348331（微信同步）
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section> -->
                      </article>
                    </div>
                    <div class="page__ft" style="width: 0.5rem;margin: 0 auto;">
                      <a>
                        <img src="<%= require('../../imgs/logo@1x.png')%>">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--======================这是设置活动费用项的页面=========================-->
<div id="vipCover" class="cover" style="display: none;">
  <div class="cover-inner">
      <div class="cover-banner-container">
              <div class="cover-banner">
                  <div id="vipCancel" class="cover-banner-icon-back cover-banner-left"><a><span></span></a></div>
                  <div class="cover-banner-tit">VIP会员权限</div>
              </div>
      </div>
      <div class="cover-form">
        <div class="mod-feeinclude">
          <div class="cnt">
            <div class="content">
              <div class="item-wrap ">
                <div class="item ">
                  <div class="item-cnt">
                    <p class="item-content weex-el weex-text">
                      1、参与活动获得度币。（兑换比例：1度币=1兑换劵）
                      VIP会员报名参加户外活动或旅游活动将获得同等价值的度币。
                      （例如户外：参与80元的活动，您将获得80个度币。）
                      （例如旅游：参与3800元的活动，您将获得3800个度币。）
                      真正实现“全年0元旅游、0元户外”。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mod-feeinclude">
          <div class="cnt">
            <div class="content">
              <div class="item-wrap ">
                <div class="item ">
                  <div class="item-cnt">
                    <p class="item-content weex-el weex-text">
                      2、获得该账号下外挂人员的所有度币。
VIP会员账号属实名制（简称：主卦）。主卦邀请参与并帮助他人报名（被报名简称：外挂）。主卦是VIP会员，将会全数获得外挂人员（包括VIP会员）度币。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mod-feeinclude">
          <div class="cnt">
            <div class="content">
              <div class="item-wrap ">
                <div class="item ">
                  <div class="item-cnt">
                    <p class="item-content weex-el weex-text">
                      3、发起的花絮/游记可接受度币打赏。
VIP会员账号发起的花絮/游记等，可接受其他VIP会员的度币打赏，非会员只能接受点赞。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mod-feeinclude">
          <div class="cnt">
            <div class="content">
              <div class="item-wrap ">
                <div class="item ">
                  <div class="item-cnt">
                    <p class="item-content weex-el weex-text">
                      4、每年将不定期举办VIP会员专属福利活动。
                      本部每年将会不定期释放福利名额，例如：特价活动、免费活动、踩线活动、福利发放等（VIP福利活动不获得度币）。未报名或超出名额范围视为放弃。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mod-feeinclude">
          <div class="cnt">
            <div class="content">
              <div class="item-wrap ">
                <div class="item ">
                  <div class="item-cnt">
                    <p class="item-content weex-el weex-text">
                      5、后续任将继续开发本部会员权限。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  </body>

</html>
