<!DOCTYPE html>
<html>

<head>
    <%= require('html-loader!../../components/meta/meta.html')  %>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>

</head>

<body>
    <div class="page">
        <%= require('html-loader!../../components/banner/banner.html')  %>
            <div id="index-content-v2">
                <div class="weui-tab">
                    <div class="weui-tab__panel content-panel">
                        <div class="content-wrapper bg-grey">
                            <div class="content-inner">
                                <div>
                                    <div class="weui-cells weui-cells_checkbox refund-lists">
                                        <label class="weui-cell weui-check__label refund-item" for="s11">
                                            <div class="weui-cell__hd">
                                                <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
                                                <i class="weui-icon-checked"></i>
                                            </div>
                                            <div class="weui-cell__bd">
                                                <div class="refund-per">
                                                    <div class="refund-per-head">
                                                        <img src="<%= require('../../imgs/logo@2x.png')%>" alt="">
                                                        <span>蓝晓瑜</span>
                                                        <div class="refund-time">昨天</div>
                                                    </div>
                                                    <div class="refund-per-reason"><span>退款申请:</span>个人行程有变，参加...</div>
                                                </div>
                                                <div class="refund-act">
                                                    <div class="refund-act-title">
                                                        <p>【新繁站】敢不敢来一次冲动的花海之行</p>
                                                    </div>
                                                    <div class="refund-act-info">
                                                        <span class="refund-act-type">徒步</span>
                                                        <span class="refund-act-price">￥ 380.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <label class="weui-cell weui-check__label refund-item" for="s12">
                                                <div class="weui-cell__hd">
                                                    <input type="checkbox" class="weui-check" name="checkbox1" id="s12" checked="checked">
                                                    <i class="weui-icon-checked"></i>
                                                </div>
                                                <div class="weui-cell__bd">
                                                    <div class="refund-per">
                                                        <div class="refund-per-head">
                                                            <img src="<%= require('../../imgs/logo@2x.png')%>" alt="">
                                                            <span>蓝晓瑜</span>
                                                            <div class="refund-time">昨天</div>
                                                        </div>
                                                        <div class="refund-per-reason"><span>退款申请:</span>个人行程有变，参加...</div>
                                                    </div>
                                                    <div class="refund-act">
                                                        <div class="refund-act-title">
                                                            <p>【新繁站】敢不敢来一次冲动的花海之行</p>
                                                        </div>
                                                        <div class="refund-act-info">
                                                            <span class="refund-act-type">徒步</span>
                                                            <span class="refund-act-price">￥ 380.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                        </label>
                                    </div>
                                   <div class="">
                                       
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-tabbar">
                        <div class="btn-refund-group weui-flex">
                            <div class="btn-refund-item weui-flex__item">
                                <button id="refuse" type="button">拒绝退款</button>
                            </div>
                            <div class="btn-refund-item weui-flex__item">
                                <button id="agree" type="button">同意退款</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>